# Python
__pycache__/
*.py[cod]
*.so
.Python
venv/
.venv/
env/
.env

# AWS SAM
.aws-sam/
samconfig.toml

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Test
.pytest_cache/
.coverage
htmlcov/

# Build
*.egg-info/
dist/
build/
